<div class="row">
  <div class="card-wrap">
    <img
      class="card-image"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmLpT8CF7rsi-YLlVG3rXRktVFajJ8nwSURCenXs4T7aMVuDKytZ-mKxKJDKl0V07MQco&usqp=CAU"
    />
    <div class="card-footer">
      <button [routerLink]="['mirror']" class="add-btn">PLAY</button>
    </div>
  </div>
  <div class="card-wrap">
    <img
      class="card-image"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTORJWZloh8ZEMP7oafzh4_-BGcLX2-aWHp3w&usqp=CAU"
    />
    <div class="card-footer">
      <button [routerLink]="['jumbled']" class="add-btn">PLAY</button>
    </div>
  </div>
</div>